<!DOCTYPE html>
<html>
<head>
	<title>Getting started</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body ng-app="">
	1+2={{ 1+2 }}
</body>
</html>