<!DOCTYPE html>
<html>
<head>
	<title>Module</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body ng-app="myApp">
	<input type="text" ng-model="name" ><br/>
	Xin chào : {{name}}
<script type="text/javascript">
	var myapp= angular.module("myApp",[]);
</script>
</body>
</html>