<!DOCTYPE html>
<html>
<head>
	<title>Module</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body ng-app="myApp">
	<div  ng-controller="CtrTest">
		{{name}}
	</div>
<script type="text/javascript">
	var myapp= angular.module("myApp",[]);
	myapp.controller("CtrTest",function($scope){
		$scope.name="Lương Bá Hợp";
	});
</script>
</body>
</html>