<!DOCTYPE html>
<html>
<head>
	<title>Đối tượng phạm vi Scope</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body ng-app="myApp">
	<div  ng-controller="CtrTest">
		{{name}} <br/>
		{{ getting }}<br/>
		{{job}}<br/>
		<input type="text" ng-model="name" >
		<input type="button" value="Lời chào" ng-click="getName()">
	</div>
	<div  ng-controller="CtrProduct">
		{{name}}<br/>
		{{job}}<br/>
	</div>
<script type="text/javascript">
	var myapp= angular.module("myApp",[]);
	myapp.controller("CtrTest",function($scope,$rootScope){
		$rootScope.job="developer";
		$scope.name="Lương Bá Hợp";
		$scope.getName=function(){
			$scope.getting="Xin chào "+$scope.name;
		}
	});
	myapp.controller("CtrProduct",function($scope){
		$scope.name="Trần Cao Cương";
	});
	

</script>
</body>
</html>